{% extends "base.html" %}

{% block content %}
	<a class="btn updateOrCreateBusiness" data-type="create" data-target="#createOrUpdateModal" data-toggle="modal" href="/businessservice/loadModal" role="button">Create New Business</a>
	<div id="remove-business-modal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Hide Business:</h3>
		</div>
		<div class="modal-body">
			<form action="/businessservice/createOrUpdate" name="update_business_form" method="post" class="form-horizontal">
				<input type="hidden" class="business_id" name="business_id">
				<input type="hidden" name="createOrUpdate" value="hide">						
			    <p>This will hide <text class="text-info businessNameLabel"></text> From App Results</p>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary hide-businesses-button">Hide Business</button>
		</div>
	</div>
	<div class="modal hide fade" id="createOrUpdateModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Business Details:</h3>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary" onclick="javascript: submitform()">Save Business</button>
		</div>
	</div>	
	{% if businesses %}
		<div class="row">
			<div class="span12">
				<hr class="bs-docs-separator"/>
			</div>
			<div class="span12">
				<table class="table table-hover">
					<thead>
						<th scope="col">Edit</th>
						<th scope="col">Hidden</th>
						<th scope="col">Name</th>
						<th scope="col">ID</th>
						<th scope="col">Website Address</th>			
						<th scope="col">Province</th>
						<th scope="col">City</th>
						<th scope="col">Street</th>
						<th scope="col">Phone</th>
						<th scope="col">Map</th>
						<th scope="col">Json</th>
					</thead>
					<tbody>
					    {% for business in businesses %}
							<tr>
								<td>
									<div class="btn-group">
										<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
										Edit
										<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a class="updateOrCreateBusiness" data-type="update" data-target="#createOrUpdateModal" data-toggle="modal" href="/businessservice/loadModal?business_id={{ business.business_id|escape }}" role="button"><i class="icon-pencil"></i> Update</a></li>
											<li><a href="#remove-business-modal" role="button" class="removeBusiness" data-id="{{ business.business_id|escape }}" data-name="{{ business.name|escape }}"><i class="icon-trash"></i> Hide</a></li>
										</ul>
									</div>
								</td>
								<td>{% if business.hidden %}<i class="icon-remove"></i>{% endif %}</td>
								<td>{{ business.name|escape }}</td>
								<td>{{ business.business_id|escape }}</td>
								<td><a href="{{ business.url|escape }}">{{ business.url|escape }}</a></td>
								<td>{{ business.province|escape }}</td>
								<td>{{ business.city|escape }}</td>
								<td>{{ business.street|escape }}</td>
								<td>{{ business.phonenumber|escape }}</td>
								{% if business.geolocation %}
									<td><a target="_blank"  href="{{ business.mapurl }}">Map</a></td>
								{% else %}
									<td></td>
								{% endif %}
								<td><a target="_blank" href="/api/business/{{ business.business_id|escape }}">Json</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}	
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		function submitform()
		{
		  document.createOrUpdate_business_form.submit();
		}
		$(document).ready(function(){		
		   $(".removeBusiness").click(function(){
		     $("#remove-business-modal .business_id").val($(this).data('id'));
			 $('#remove-business-modal .businessNameLabel').text($(this).data('name'));
		     $('#remove-business-modal').modal('show');
		   });
		});
		$('.hide-businesses-button').on('click', function(e){
			e.preventDefault();
			document.update_business_form.submit();
		});
		$('body').on('hidden', '.modal', function () {
			//this method removes all models when they are hidden, so that they are re-instantiated each time they are loaded
			//mostly needed for the create/update modal to work, when clicking on them multiple times without a page refresh
			$(this).removeData('modal');
		});
	</script>
{% endblock %}