{% extends "base.html" %}

{% block content %}
	<legend>Search for Business</legend>
    <form action="/scrapitservices/" name="search_business_form" method="post" class="form-horizontal">
		<input type="hidden" name="post_type" value="search">
		<div class="control-group">
			<label class="control-label">Business Name:</label>
			<div class="controls">
				<input type="text" class="input-large block" name="name"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">City:</label>
			<div class="controls">
				<input type="text" class="input-large block" name="city"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Search</button>
			</div>
		</div>
    </form>
	{% if search_performed %}
	    {% if businesses %}
			<div class="row">
				<div class="span12">
					<hr class="bs-docs-separator"/>
				</div>
				<div class="span12">
					<table id="searchResults" class="table table-hover">
						<thead>
							<th scope="col">Edit</th>
							<th scope="col">Hidden</th>
							<th scope="col">Name</th>
							<th scope="col">ID</th>
							<th scope="col">Website Address</th>			
							<th scope="col">Province</th>
							<th scope="col">City</th>
							<th scope="col">Street</th>
							<th scope="col">Geo Location</th>
							<th scope="col">Json</th>
						</thead>
						<tbody>
						    {% for business in businesses %}
								<tr>
								  <td>
  									<div class="btn-group">
  										<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
  										Edit
  										<span class="caret"></span>
  										</a>
  										<ul class="dropdown-menu">
											<li><a href="#updateBusiness" role="button" class="updateBusiness" data-id="{{ business.business_id|escape }}" data-type="update"><i class="icon-pencil"></i> Update</a></li>
											<li><a href="#hideBusiness" role="button" class="updateBusiness" data-id="{{ business.business_id|escape }}" data-type="hide"><i class="icon-trash"></i> Hide</a></li>
  										</ul>
  									</div>
								  </td>
								  <td>{% if business.hidden %}<i class="icon-remove"></i>{% endif %}</td>
							      <td>{{ business.name|escape }}</td>
							      <td>{{ business.business_id|escape }}</td>
							      <td><a href="{{ business.url|escape }}">{{ business.url|escape }}</a></td>
							      <td>{{ business.province|escape }}</td>
								  <td>{{ business.city|escape }}</td>
							      <td>{{ business.street|escape }}</td>
								  {% if business.geolocation %}
									  <td>{{ business.geolocation.latitude|escape }},{{ business.geolocation.longitude|escape }}</td>
								  {% else %}
									  <td></td>
								  {% endif %}
							      <td><a target="_blank" href="/api/business/{{ business.business_id|escape }}">Json</a></td>
							    </tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<p>Sorry No Businesses found</p>
	    {% endif %}		
	{% endif %}	
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		function submitUpdateform(){
			// var input = document.createElement("input");
// 			input.setAttribute("type", "hidden");
// 			input.setAttribute("name", "{{ search_city }}");
// 			input.setAttribute("value", "{{ search_city }}");
// 			document.update_business_form.appendChild(input);

			document.update_business_form.submit();
		}
		$(document).ready(function() {
			$('.updateBusiness').click(function(e) {
				e.preventDefault();				
				var modal_type = $(this).data('type')
				var url = '/scrapitservices/loadModal'		
				var business_id = $(this).data('id')
				var url = '/scrapitservices/loadModal?business_id=' + business_id + '&form_type=' + modal_type;
				$.get(url, function(data) {
					$('<div class="modal hide fade">' + data + '</div>').modal();
				}).success(function() { $('input:text:visible:first').focus(); });
			});
		});
	</script>
{% endblock %}