{% extends "base.html" %}

{% block content %}
	<p>Search for Business</p>
    <form action="/scrapitservices/" method="post">
        <input type="hidden" name="post_type" value="search">
        <table>
            <tr><td>Business Name:</td><td><input type="text" name="name"></td></tr>
            <tr><td>City:</td><td><input type="text" name="city"></td></tr>
        </table>
      <div><input type="submit" class="btn" value="Search"></div>
    </form>
	{% if search_perfomred %}
	    {% if businesses %}
	    <table id="searchResults">
	        <th>Business Name</th><th>city</th><th>street</th><th>province</th><th>id</th><th>url</th><th>geolocation</th>
	        {% for business in businesses %}
	            <tr class="data">      
	                <td><blockquote>{{ business.name|escape }}</blockquote></td>
	                <td><blockquote>{{ business.city|escape }}</blockquote></td>
	                <td><blockquote>{{ business.street|escape }}</blockquote></td>
	                <td><blockquote>{{ business.province|escape }}</blockquote></td>
	                <td><blockquote>{{ business.business_id|escape }}</blockquote></td>
	                {% if business.url %}
	                <td><blockquote><a href="{{ business.url|escape }}">{{ business.url|escape }}</a></blockquote></td>
	                <td><blockquote>{{ business.geolocation.latitude|escape }},{{ business.geolocation.longitude|escape }}</blockquote></td>
	                {% else %}
	                <td></td>
	                <td><blockquote>{{ business.geolocation.latitude|escape }},{{ business.geolocation.longitude|escape }}</blockquote></td>
	                {% endif %}
	            </tr>
	            <tr class="input">
	                <form action="/scrapitservices/update" method="post">
	                    <input type="hidden" name="post_type" value="add">
	                    <input type="hidden" name="yellowpages_id" value="{{ business.business_id|escape }}">
	                    <input type="hidden" name="name" value="{{ search_name }}">
	                    <input type="hidden" name="city" value="{{ search_city }}">
	                    <td><blockquote><input type="text" name="url"></blockquote></td>
	                    <td><input type="submit" value="Update Business "></td>
	                </form>
	            </tr>
	        {% endfor %}
	    </table>
		{% else %}
		<p>Sorry No Businesses found</p>
	    {% endif %}
	{% endif %}
{% endblock %}