{% extends "base.html" %}

{% block content %}
	<legend>Search for Business</legend>
    <form action="/scrapitservices/" name="search_business_form" method="post" class="form-horizontal">
		<input type="hidden" name="post_type" value="search">
		<div class="control-group">
			<label class="control-label">Business Name:</label>
			<div class="controls">
				<input type="text" class="input-large block" name="name"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">City:</label>
			<div class="controls">
				<input type="text" class="input-large block" name="city"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Search</button>
			</div>
		</div>
    </form>
	{% if search_performed %}
	    {% if businesses %}
			<div class="modal hide fade" id="updateModal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3>Update Business:</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button class="btn btn-primary" onclick="javascript: submitUpdateform()">Update Business</button>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<hr class="bs-docs-separator"/>
				</div>
				<div class="span12">
					<table id="searchResults" class="table table-hover">
						<thead>
							<th scope="col">Edit</th>
							<th scope="col">Hidden</th>
							<th scope="col">Name</th>
							<th scope="col">ID</th>
							<th scope="col">Website Address</th>			
							<th scope="col">Province</th>
							<th scope="col">City</th>
							<th scope="col">Street</th>
							<th scope="col">Geo Location</th>
							<th scope="col">Json</th>
						</thead>
						<tbody>
						    {% for business in businesses %}
								<tr>
								  <td>
  									<div class="btn-group">
  										<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
  										Edit
  										<span class="caret"></span>
  										</a>
  										<ul class="dropdown-menu">
											<li><a href="/scrapitservices/loadModal?form_type=update&{{ business.loadmodalurl|escape }}" data-target="#updateModal" data-toggle="modal" data-role="button" class="updateBusiness"><i class="icon-pencil"></i> Update</a></li>
											<li><a href="/scrapitservices/loadModal?form_type=hide&{{ business.loadmodalurl|escape }}" data-target="#updateModal" data-toggle="modal" role="button" class="updateBusiness"><i class="icon-trash"></i> Hide</a></li>
  										</ul>
  									</div>
								  </td>
								  <td>{% if business.hidden %}<i class="icon-remove"></i>{% endif %}</td>
							      <td>{{ business.name|escape }}</td>
							      <td>{{ business.business_id|escape }}</td>
							      <td><a href="{{ business.url|escape }}">{{ business.url|escape }}</a></td>
							      <td>{{ business.province|escape }}</td>
								  <td>{{ business.city|escape }}</td>
							      <td>{{ business.street|escape }}</td>
								  {% if business.geolocation %}
									  <td>{{ business.geolocation.latitude|escape }},{{ business.geolocation.longitude|escape }}</td>
								  {% else %}
									  <td></td>
								  {% endif %}
							      <td><a target="_blank" href="/api/business/{{ business.business_id|escape }}">Json</a></td>
							    </tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<p>Sorry No Businesses found</p>
	    {% endif %}		
	{% endif %}	
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		function submitUpdateform(){
			var nameInput = document.createElement("input");
			nameInput.setAttribute("type", "hidden");
			nameInput.setAttribute("name", "name");
			nameInput.setAttribute("value", "{{ search_name }}");			
			document.update_business_form.appendChild(nameInput);
			
			var cityInput = document.createElement("input");
			cityInput.setAttribute("type", "hidden");
			cityInput.setAttribute("name", "city");
			cityInput.setAttribute("value", "{{ search_city }}");			
			document.update_business_form.appendChild(cityInput);

			document.update_business_form.submit();
		}
		$('body').on('hidden', '.modal', function () {
			//this method removes all models when they are hidden, so that they are re-instantiated each time they are loaded
			//mostly needed for the create/update modal to work, when clicking on them multiple times without a page refresh
			$(this).removeData('modal');
		});
	</script>
{% endblock %}