body {
  font-family: Helvetica, sans-serif;
  background-color: #DDDDDD;
}

.hero-unit.custom {
	background:purple;
	color:white;
}

.list-lead {
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.center {
	text-align:center;
}

.description {
	padding-top:100px;
}